@import 'vars';
.main__btn {
	border-radius: 30px;
	height: 50px;
	width: 200px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: $cyan-sub;
	color: $white;
	text-transform: uppercase;
	margin-left: 10px;
	transition: $transition;
	border: 1px solid $cyan-sub;
	&:hover {
		border: 1px solid $dark;
		color: $dark;
		background: $white;
	}
}

.outline-btn {
	border: 1px solid $white;
	background: $dark;
	color: $white;
	&:hover {
		color: $dark;
		background: $white;
	}
}
