// RaleWay font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

// Noto sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600&display=swap');

// Trebuchet
@import url('http://fonts.cdnfonts.com/css/trebuchet-ms-2');

// Teko
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

$light: #f7f6fb;
$dark: #272829;
$black: #000;
$grey: #787878;
$white: #fff;
$blue: #0563bb;
$blue-grey: #f1edff;
$cyan: rgb(4, 229, 229);
$cyan-sub: #03bce4;
$transition: 0.3s ease;
$container-lg: 1170px;

.big__header {
	// font-size: 7.1vw;
	// line-height: 7.6vw;
	font-size: 100px;
	line-height: 116px;
	margin-bottom: 20px;
	font-weight: bold;
}

.sub__header {
	padding: 14px 40px;
	display: inline-block;
	border-radius: 30px;
	background: $blue-grey;
	font-size: 20px;
	font-family: 'Noto Sans';
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $blue;
	margin-bottom: 31px;
}

.title {
	font-size: 70px;
	line-height: 50px;
	margin-top: 35px;
	margin-bottom: 50px;
	// color: rgb(255, 255, 255);
}
.span__cyan {
	color: $cyan;
	font-family: inherit;
}

.medium__title {
	font-size: 34px;
	line-height: 44px;

	font-weight: 300 !important;
}
.main__p {
	line-height: 35px;
	margin-bottom: 33px;
}
.container-sc {
	max-width: $container-lg !important;
	width: 100%;
	// margin: auto;
}
