@import 'flexCenter';
@import './vars';
@import 'btn';
@import 'rgbBg';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// font-family: 'Noto Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style-type: none;
	color: #101010;
}
h1,
h2,
h3,
h4 {
	font-family: 'Teko', sans-serif !important;
	font-weight: bold !important;
	color: $white !important;
	font-weight: 500 !important;
}
a {
	text-decoration: none !important;
}

html {
	scroll-behavior: smooth;
}

p {
	font-size: 16px;
	line-height: 26px;
	color: #787878;
}
section {
	padding: 60px 0;
	padding-left: 0px;
	overflow: hidden;
}
header {
	z-index: 9999;
	#navbar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		display: flex;
		padding: 0 15px;
		li {
			margin: 10px 0;
			a {
				width: 55px;
				// padding: 10px;
				height: 55px;
				background-color: $blue-grey;
				@include flexCenter(center, center, row);
				font-weight: bold;
				transition: $transition;
				border-radius: 30px;
				box-shadow: rgba(0, 43, 83, 0.281) 3px 3px 6px 0px inset,
					rgba(255, 255, 255, 0) -3px -3px 6px 1px inset;

				overflow: hidden;
				span {
					display: none;
					margin-left: 20px;
				}
				i {
					font-size: 20px;
				}
				& > span,
				i {
					color: #45505b;
				}
				&:hover {
					width: 150px;
					@include rgbBg();
					i {
						color: $white;
					}
					span {
						color: $white;
						display: inline-block;
					}
				}
			}
		}
	}
}
#hero {
	position: relative;
	padding: 220px 0 110px;
	background: url(img/darkBg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
	video {
		left: 0;
		top: 0;
		position: absolute;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translate(0, -50%);
		width: 50px;
		height: 270px;
		background: url(img/pattern.svg);
	}
	.left__banner {
		position: absolute;
		top: -50%;
		right: 220px;
		width: 100vw;
		height: 100vw;
		// background-color: #101010;
		// z-index: 1;
		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: url(img/banner-pattern.png);
		// 	background-position: top right;
		// 	background-repeat: no-repeat;
		// 	opacity: 0.51;
		// }
	}
	.container-sc {
		z-index: 1;
		.hero__content {
			flex-wrap: wrap;
			justify-content: space-between;
			.left__content {
				width: 40%;
				.banner__svg {
					top: -50px;
					left: -29px;
					z-index: 1;
				}
				.banner__img {
					height: 550px;
					right: 30px;
					position: relative;
					z-index: 2;
					// filter: drop-shadow(5px 5px 5px #222);
					animation: 3s ease-in-out 0s infinite filterShadow;
					@keyframes filterShadow {
						0% {
							filter: drop-shadow(
								rgb(80, 115, 184) 0px 28px 60px
							);
						}
						20% {
							filter: drop-shadow(
								rgb(16, 152, 173) 0px 28px 60px
							);
						}
						40% {
							filter: drop-shadow(
								rgb(7, 179, 155) 0px 28px 60px
							);
						}
						60% {
							filter: drop-shadow(
								rgb(80, 115, 184) 0px 28px 60px
							);
						}
						80% {
							filter: drop-shadow(
								rgb(111, 186, 130) 0px 28px 60px
							);
						}
						100% {
							filter: drop-shadow(
								rgb(80, 115, 184) 0px 28px 60px
							);
						}
					}
				}
			}
			.right__content {
				padding-top: 74px;
				padding-left: 5vw;
				width: 58%;
				h1 {
					white-space: nowrap;
					color: #dedde2;
					// span {
					// 	color: #dedde2;
					// 	letter-spacing: 8px;
					// }
				}
				.hero__title {
					color: #787878;
					letter-spacing: 0.5px;
					margin-bottom: 55px;
					font-weight: normal;
				}
			}
		}
	}
	.hero__follow {
		position: absolute;
		bottom: 55px;
		right: 60px;
		align-items: center;
		h4 {
			margin: 0 10px 0 0;
			font-size: 18px;
			text-transform: uppercase;

			&::after {
				content: '';
				width: 55px;
				height: 1px;
				background: $cyan;
				display: inline-block;
				margin-left: 11px;
				margin-top: 4px;
				top: 50%;
			}
		}
		ul {
			margin: 0;
			li {
				margin: 0 10px;
				i {
					color: $cyan-sub;
					transition: $transition;
					&:hover {
						color: $white;
					}
				}
			}
		}
	}
}

#about {
	position: relative;
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 50%;
	// 	right: 200px;
	// 	transform: translate(0, -50%);
	// 	width: 50px;
	// 	height: 270px;
	// 	background: url(img/pattern.svg);
	background: $black;
	// }
	.container-sc {
		.about__content {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
			.about__right {
				display: grid;
				place-items: center;
				img {
					width: 60%;
					transform: scale(0.8);
				}
			}
		}
	}
}

#skills {
	background: url(img/abtractBg.jpg) center center no-repeat;
	background-size: cover;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
	}
	.container-sc {
		position: relative;
		z-index: 1;
		.skill__content {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
			width: 100%;
			.skill {
				padding: 40px 10px;
				border-radius: 20px;
				animation: 3s ease-in-out 0s infinite floatingSkill;
				@keyframes floatingSkill {
					0% {
						transform: translateY(-6px);
					}
					50% {
						transform: translateY(6px);
					}
					100% {
						transform: translateY(-6px);
					}
				}
				i {
					color: $white;
					font-size: 45px;
					width: 100px;
					height: 100px;
					display: grid;
					margin: auto;
					place-items: center;
					border-radius: 50%;
					margin-bottom: 20px;
					@include rgbBg();
				}

				.three__line {
					position: relative;
					bottom: 0;
					width: 20px;
					height: 4px;
					background: $blue;
					display: block;
					margin: 17px auto 0;
					transition: $transition;
					&::before {
						content: '';
						position: absolute;
						left: 40px;
						bottom: 0;
						width: 20px;
						height: 4px;
						background: $blue;
						display: block;
						margin-right: -40px;
						transition: $transition;
					}
					&::after {
						content: '';
						position: absolute;
						right: 40px;
						bottom: 0;
						width: 20px;
						height: 4px;
						background: $blue;
						display: block;
						transition: $transition;
					}
				}
				h3 {
					transition: $transition;
				}
				p {
					margin: 25px 0;
					transition: $transition;
					font-size: 14px;
				}
				.main__btn {
					margin: auto;
				}
				&:hover {
					background-color: $black;
					animation: 3s ease-in-out 0s infinite rgbShadow;
					transform: translateY(-20px);
					// Rgb Shadow Keyframes
					@keyframes rgbShadow {
						0% {
							box-shadow: rgb(80, 115, 184) 0px 28px 60px;
						}
						20% {
							box-shadow: rgb(16, 152, 173) 0px 28px 60px;
						}
						40% {
							box-shadow: rgb(7, 179, 155) 0px 28px 60px;
						}
						60% {
							box-shadow: rgb(80, 115, 184) 0px 28px 60px;
						}
						80% {
							box-shadow: rgb(111, 186, 130) 0px 28px 60px;
						}
						100% {
							box-shadow: rgb(80, 115, 184) 0px 28px 60px;
						}
					}

					i {
						color: $white;
						border-color: $white;
					}
					// p,
					// .medium__title {
					// 	color: $white;
					// }
					.three__line,
					.three__line::after,
					.three__line::before {
						background-color: $white;
					}
					a {
						background-color: $white;
						color: $dark;
						border-color: $white;
					}
				}
			}
		}
	}
}

#projects {
	position: relative;
	background-color: #000;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		right: 50%;
		width: 680px;
		height: 1000px;
		background: url(img/bg-pattern.png);
		background-repeat: no-repeat;
		opacity: 0.5;

		transform: translate(-80%, 0);
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 30%;
		width: 680px;
		height: 1000px;
		background: url(img/bg-pattern.png);
		background-repeat: no-repeat;
		opacity: 0.5;
		transform: translate(80%, 0);
	}
	.container-sc {
		position: relative;
		z-index: 1;
		.project__content {
			display: grid;
			position: relative;
			// grid-template:
			// 	'a b c' 390px
			// 	'd d e' 390px / 1fr 1fr 1fr;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;

			.project {
				width: 100%;
				height: 390px;
				position: relative;
				overflow: hidden;

				&.d {
					grid-column: 1/3;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.hidden__detail {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 390px;
					background: $blue;
					opacity: 0.95;
					color: $white;
					transform: translateY(100%);
					transition: 0.7s ease;
					padding: 40px;
					p {
						color: $white;
					}
					a {
						color: $white;
						position: absolute;
						bottom: 30px;
						right: 30px;
						i {
							color: $white;
							font-size: 25px;
							margin-left: 10px;
						}
					}
				}
				&:hover {
					.hidden__detail {
						@include rgbBg();
						transform: translateY(0);
					}
				}
			}
		}
	}
}

#contact {
	padding: 100px 0 150px 0;
	background: url(img/revertBg.jpg) no-repeat;
	background-size: cover;

	.container-sc {
		.contact__content {
			form {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 30px;
				position: relative;
				.form-group {
					margin: 0;
					input {
						width: 100%;
						height: 60px;
					}
					&.c {
						grid-column: 1/3;
					}
					&.d {
						position: absolute;
						bottom: -90px;
						left: 50%;
						width: 200px;
						transform: translate(-50%, 0);
					}
				}
			}
		}
	}
}
footer {
	background-color: #101010;
	padding: 40px 0;
	.container-sc {
		.footer__content {
			p {
				margin: 0;
				color: $white;
			}
			ul {
				margin: 0;
				li {
					margin: 0 10px;
					i {
						color: $white;
						font-size: 25px;
						transition: $transition;
						&:hover {
							color: $cyan-sub;
						}
					}
				}
			}
		}
	}
}

// Extra small devices (portrait phones, less than 576px)
@media (min-width: 340px) and (max-width: 575.98px) {
	.container-sc {
		width: 100% !important;
		padding: 50px !important;
	}
	section {
		padding: 30px 0;
	}
	header #navbar {
		height: 85px !important;
		ul {
			transform: scale(0.8);
		}
	}
	#hero {
		.container-sc .hero__content {
			.left__content {
				margin-top: 0px !important;
				img {
					transform: translateX(-50%) scale(0.6) !important;
				}
			}
			.right__content {
				padding: 0 !important;
			}
		}
		.hero__follow {
			display: flex;
			flex-direction: column !important;
			gap: 10px;
			h4::after {
				display: none;
			}
		}
	}
	#projects .container-sc .project__content {
		grid-template-columns: 1fr !important;
		.project.d {
			grid-column: auto;
		}
		.project,
		.project .hidden__detail {
			height: 300px;
			.title {
				font-size: 25px;
			}
			p {
				font-size: 14px;
				line-height: 20px;
			}
			a {
				bottom: 5px;
				right: 5px;
			}
		}
	}

	.main__btn {
		margin-bottom: 20px;
	}
	.main__p {
		line-height: 30px;
		text-align: justify;
	}
	.left__banner {
		display: none;
	}
	.title {
		margin-bottom: 30px;
	}
	#contact {
		padding: 50px 0 50px 0;
		.container-sc .contact__content {
			form {
				display: flex !important;
				flex-direction: column !important;
				input {
					width: 100%;
					height: 40px !important;
				}
			}
		}
	}
	footer {
		padding-top: 20px !important;
		padding-bottom: 80px !important;
		.container-sc {
			padding: 10px !important;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 575.98px) and (max-width: 767.98px) {
	.container-sc {
		width: 500px !important;
	}
	.big__header {
		font-size: 13vw !important;
		line-height: 13vw !important;
	}
	header #navbar {
		height: 85px !important;
		ul {
			transform: scale(0.9);
		}
	}
	#projects .container-sc .project__content .project,
	#projects .container-sc .project__content .project .hidden__detail {
		height: 300px;
		.title {
			font-size: 25px;
		}
		p {
			font-size: 14px;
			line-height: 20px;
		}
		a {
			bottom: 5px;
			right: 5px;
		}
	}
	#contact .container-sc .contact__content form .form-group input {
		height: 45px !important;
	}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
	.container-sc {
		width: 650px;
	}
	header #navbar {
		bottom: 0;
		height: 100px;
		width: 100vw;
		top: auto;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 50% 50% 0 0;
		backdrop-filter: blur(100px);

		ul {
			flex-direction: row;
			display: flex;
			margin: 0;
			li {
				margin: 0 20px;
			}
		}
	}
	#hero {
		padding: 50px 0;
		.container-sc .hero__content {
			flex-direction: column-reverse;
			text-align: center;
			.left__content {
				width: 100%;
				margin-top: 60px;
				img {
					transform: translateX(-50%) scale(0.8);
				}
				.banner__svg {
					left: 50%;
				}
				.banner__img {
					left: 50%;
					right: auto;
				}
			}
			.right__content {
				width: 100%;
			}
		}
		.hero__follow {
			left: 50%;
			transform: translateX(-50%);
			white-space: nowrap;
		}
	}
	#about .container-sc .about__content {
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
	}
	#skills .container-sc .skill__content {
		grid-template-columns: 1fr;
	}
	#projects .container-sc .project__content {
		grid-template-columns: 1fr 1fr;
		.project.d {
			grid-column: auto;
		}
	}
	.big__header {
		font-size: 10vw;
		line-height: 10vw;
	}
	.main__p {
		line-height: 30px;
		text-align: justify;
	}
	.left__banner {
		display: none;
	}
	.title {
		margin-bottom: 30px;
	}
	footer {
		padding-bottom: 130px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.container-sc {
		width: 850px;
	}
	header #navbar {
		transform: scale(0.8);
		padding: 0 5px;
	}
	#hero {
		padding: 140px 0;
		.container-sc .hero__content .left__content {
			img {
				transform: scale(0.7);
			}
			.banner__svg {
				left: -70px;
			}
			.banner__img {
				right: 65px;
			}
		}
	}

	#projects .container-sc .project__content .project,
	#projects .container-sc .project__content .project .hidden__detail {
		height: 350px;
	}
	.big__header {
		font-size: 7.1vw;
		line-height: 7.6vw;
	}
	.main__p {
		line-height: 30px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1400px) {
	.container-sc {
		width: 1000px;
	}
	#hero .container-sc .hero__content .left__content img {
		transform: scale(0.8);
	}
	#projects .container-sc .project__content .project,
	#projects .container-sc .project__content .project .hidden__detail {
		height: 350px;
	}
	.big__header {
		font-size: 7.1vw;
		line-height: 7.6vw;
	}
}
